[[extend 'layout.html']]

<div>
    <h2 class="subtitle is-1"> Add a new product </h2>
    [[=form]]
<!--    <form action="/" method="post" enctype="multipart/form-data">-->
<!--        <div class="field">-->
<!--            <label class="label">product name</label>-->
<!--            <div class="control">-->
<!--                <input class="input" type="text" placeholder="text input" name="productName">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <label class="label">product price</label>-->
<!--            <div class="control">-->
<!--                <input class="input" type="number" placeholder="number input" name="productPrice">-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="field">-->
<!--            <label class="label">product description</label>-->
<!--            <div class="control">-->
<!--                <textarea class="textarea" placeholder="Textarea" name="productDesc"></textarea>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="field">-->

<!--            <div class="control">-->
<!--                <button class="button is-link">Add</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>